html * {
    font-family: Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

#header{
    /*makes this responsive to browser width - 10 is 10%*/
    font-size: 2vw;
    text-align: center;

}


#canvas-container {
   width: 100%;
}

#jump-text {
    font-size: 1vw;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#background-section {
    font-size: 20px;
    text-align: center;
}
